doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")

  body
    header.header
      .header__wrapper
        .header__logo
            img(src='/images/logo.png' alt='logo')

        .header__link
          .link__href
            a.problem__link(href='#') the problem
            a.coin__link(href='#') PipedPiperCoin
            a.team__link(href='#') the team



    section.contaiter
      .block__piperNet
        h2.block__piperNet--text PiperNet Is Here


      .block__theProblem
        .block__theProblem--text
          h2.problem the Problem
          .problem--text
            p Beneath the flashy homepages of your favorite sites lurk Hooli™ and other evil  corporations out to hoard and sell your most personal data.

            p What was built to be the ultimate platform for the free sharing of knowledge has turned into a money-hungry monster feasting on our privacy and freedom.

            p But fear not, for Pied Piper has the answer! And it’s simple:</br> An autonomous peer-to-peer network featuring distributed storage powered by universal compression, accelerated scheduling allocation, and end-to-end encryption.

            p Put even simpler — <b>it’s the internet, completely decentralized</b>.


      .block__consolidation
        p.block__consolidation--text We’re in this together! All of our</br> computers and phones join in a network</br> to make the strongest supercomputer the</br> world has ever seen.

      .block__piperCoin
        .block__piperCoin--text
          h2.piperCoin Introducing PiedPiperCoin
          .piperCoin__wrapper
            img(src='/images/PPC Logo.png' alt='ppc__logo')

          p Piper's new internet is built for users, by users. You supply the storage, compute, and networking resources that power our entire decentralized web.

            p Now there's a way to give credit where credit is due. Compute credit, that is! The more you share your device resources, the more PiedPiperCoin you receive

            p Whether you're a developer with an app ready for market, or just an Average Joe with a smartphone you'll love all you can do with PiedPiperCoin.

      .block__team
        p.block__team--text The Team
        .team
          .team__employee
            .team__employee--data
              figure
                img(src='http://www.picshare.ru/uploads/191115/03662RJWj6.png' alt="image__employee")
                figcaption
                  h3.employee__name Richard Hendricks
                  span.employee__job Founder & CEO

          .team__employee--data
            figure
              img(src='http://www.picshare.ru/uploads/191115/73ov1h84Vm.png' alt="image__employee")
              figcaption
                h3.employee__name Dinesh Chugtai
                span.employee__job Senior Programmer

          .team__employee--data
            figure
              img(src='http://www.picshare.ru/uploads/191115/yy8aWW83VK.png' alt="image__employee")
              figcaption
                h3.employee__name Bertram Gilfoyle
                span.employee__job Chief Systems Architect

          .team__employee--data
            figure
              img(src='http://www.picshare.ru/uploads/191115/dMkwZb1Fjn.png')
              figcaption
                h3.employee__name Jared Dunn
                span.employee__job Chief Operating Officer

          .team__employee--data
            figure
              img(src='http://www.picshare.ru/uploads/191115/xcj1n3cBJV.png')
              figcaption
                h3.employee__name Monica Hall
                span.employee__job Chief Financial Officer
                    
          .team__employee--data
            figure
              img(src='http://www.picshare.ru/uploads/191115/cRZn8GGpwY.png')
              figcaption
                h3.employee__name Nelson Bighetti
                span.employee__job Majority Investor

    footer.footer
        p.footer--text All other trademarks and copyrights are the property of their</br> respective owners. Use of these names, trademarks and brands</br> does not imply endorsement.
